/*Blue color step*/
.brand_blu_1  {color: #297FB8;}
.brand_blu_2  {color: #408DBF;}
.brand_blu_3  {color: #589BC7;}
.brand_blu_4  {color: #70A9CF;}
.brand_blu_5  {color: #88B7D7;}
.brand_blu_6  {color: #9FC6DF;}
.brand_blu_7  {color: #B7D4E7;}
.brand_blu_8  {color: #CFE2EF;}
/*Purple color step*/
.brand_pur_1  {color: #F0E7E9;}
.brand_pur_2  {color: #E2D0D4;}
.brand_pur_3  {color: #D4B9BE;}
.brand_pur_4  {color: #C5A1A9;}
.brand_pur_5  {color: #B78A93;}
.brand_pur_6  {color: #A9737E;}
.brand_pur_7  {color: #9A5B68;}
.brand_pur_8  {color: #8C4453;}
.brand_pur_9  {color: #7E2D3E;}
.brand_pur_10 {color: #702837;}
.brand_pur_11 {color: #622330;}
.brand_pur_12 {color: #541E29;}
.brand_pur_13 {color: #461922;}
.brand_pur_14 {color: #38141B;}
.brand_pur_15 {color: #2A0F14;}
.brand_pur_16 {color: #1C0A0D;}
.brand_pur_17 {color: #0E0506;}

body {
	font-weight: 200; outline: none !important; 
}

a, ul, li, a:hover, ul:hover, li:hover, a:focus, ul:focus, li:focus  { outline: none !important; }

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(112, 40, 55, 0.75), rgba(0, 0, 0, 0));
}

.off-canvas {
	background-color: #FFFFFF;
}

.resp--br_14 {
	height: 16px;
	margin: 0;
	padding: 0;
}

.cmd--dropdown {
	min-height: 52px;
	min-width: 224px;
	padding-top: 16px !important;
}

.rev-modal {
	/*width: 78% !important;*/
	outline: none;
}

summary {
	cursor: pointer;
	color: #8C4453 !important;
	outline: none;
}

.off-canvas-content {
	min-height: 480px;
}

.dialog-caption {
	min-width: 512px;
}
.p--mono {
	font-family: monospace;
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.5;
	color: #1C0A0D;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.caption--p__architectsdaughter{
	font-family: "ArchitectsDaughter", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	line-height: 1.5;
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.caption--p__roboto{
	font-family: "Roboto-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 1.5;
	color: #702837;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.article--p__roboto{
	color: #222222;	
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: justify;
	text-justify: inter-word;
	font-size: 14px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.article--p__monospace{
	color: #222222;	
	font-family: monospace;
	text-align: left;
	font-size: 10px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.article--psub__roboto{
	color: #666666;	
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: justify;
	text-justify: inter-word;
	font-size: 12px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.article--table_lab__roboto{
	color: #8C4453;	
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	margin: 2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.fa{
	color: #A9737E;
}
.fa:hover{
	color: #8C4453;
}

.fa-times-circle-o{
	color: #E2D0D4;
}

.fa-tag, .fa-clipboard {
	color: #FFFFFF;
}

.fa-cog, .fa-clipboard {
	color: #E2D0D4;
}

.fa-cog:hover, .fa-clipboard:hover {
	color: #FFFFFF;
}
.menu > li > a {
    padding: 0.6rem 0.4rem;
}
.menu > li:hover {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,a8d2ed+100 */
	background-color: #B7D4E7;
}


.n5-card {
	height: 48px;
	border: 1px solid  #C5A1A9;
	background: 
	linear-gradient(
	rgba(255, 255, 255, 1.00), 
	rgba(240, 231, 233, 0.56)
	),
    url( http://neodigm.github.io/ever-present-living-style-guide-site/img/ltdc_eplsg_n5card_back_1.png );
	-webkit-filter: grayscale(1);
	filter: grayscale(1);

	-zzzzwebkit-transition: all 1s ease-in;
	zzzztransition: all 1s ease-in;
	overflow: hidden;
	cursor: pointer;
}
.n5-card:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
	.n5-card--caption-1 {
		margin: 2px;
		padding: 2px;
		height: 36px;
		margin-right: 12px;
		overflow: hidden;
	}
	.n5-card--caption-1-h3 {
		margin: 0;
		padding: 0;
		font-size: 20px;
		color: #C5A1A9;
		text-align: center;
	}
	.n5-card--iconarrow-1 {
		width: 36px;
		float: right;
		cursor: pointer;
		position: relative;
		top: -32px;
		margin: 0;
		padding: 8px;
		text-align: right;
	}
	.n5-card--summary-1 {
		position: relative;
		/*top: -32px;*/
		background-color: #B78A93;
		height: 64px;
		width: 100%;
		overflow: hidden;
	}
		.n5-card--summary-1 > p {
			/*text-align: justify;*/
			line-height: 1.44;
			font-size: 14px;
			color: #FFFFFF;
			padding: 2px 6px;
		}
	.n5-card--img-1 {

	}
		.n5-card--img-1 > img {

		}

#n5c_1--mod__ugc > table { width: 100%; }

.button {
    font-size: 18px !important;
}

.myclipboard--article {
	max-height: 256px;
	overflow: scroll;
	overflow-x: hidden;
}

.tag-lable--accessibility {background-color: #296661; margin: 2px;}
.tag-lable--browser       {background-color: #4D2850; margin: 2px;}
.tag-lable--color         {background-color: #EC3A40; margin: 2px;}
.tag-lable--component     {background-color: #506F8D; margin: 2px;}
.tag-lable--content       {background-color: #E80C7A; margin: 2px;}
.tag-lable--crm           {background-color: #FFCE00; margin: 2px;}
.tag-lable--form          {background-color: #A49060; margin: 2px;}
.tag-lable--imagery       {background-color: #2C6418; margin: 2px;}
.tag-lable--media         {background-color: #4B3B32; margin: 2px;}
.tag-lable--mobile        {background-color: #BF5B21; margin: 2px;}
.tag-lable--pattern       {background-color: #968851; margin: 2px;}
.tag-lable--process       {background-color: #4CA192; margin: 2px;}
.tag-lable--performance   {background-color: #DC8C3D; margin: 2px;}
.tag-lable--resource      {background-color: #9B3C25; margin: 2px;}
.tag-lable--seo           {background-color: #748C7A; margin: 2px;}
.tag-lable--social        {background-color: #9E9E4D; margin: 2px;}
.tag-lable--testing       {background-color: #F691AD; margin: 2px;}
.tag-lable--typography    {background-color: #256069; margin: 2px;}
.tag-lable--utility       {background-color: #E80C7A; margin: 2px;}
.tag-lable--ux            {background-color: #EDBA08; margin: 2px;}
.tag-lable--video         {background-color: #F24444; margin: 2px;}

.tag-lable--accessibility::after {content: " Accessibility"; }
.tag-lable--browser::after       {content: " Browser"; }
.tag-lable--color::after         {content: " Color"; }
.tag-lable--component::after     {content: " Component"; }
.tag-lable--content::after       {content: " Content"; }
.tag-lable--crm::after           {content: " CRM"; }
.tag-lable--form::after          {content: " Form"; }
.tag-lable--imagery::after       {content: " Imagery"; }
.tag-lable--media::after         {content: " Media"; }
.tag-lable--mobile::after        {content: " Mobile"; }
.tag-lable--pattern::after       {content: " Pattern"; }
.tag-lable--process::after       {content: " Process"; }
.tag-lable--performance::after   {content: " Performance"; }
.tag-lable--resource::after      {content: " Resource"; }
.tag-lable--seo::after           {content: " SEO"; }
.tag-lable--social::after        {content: " Social"; }
.tag-lable--testing::after       {content: " Testing"; }
.tag-lable--typography::after    {content: " Typography"; }
.tag-lable--utility::after       {content: " Utility"; }
.tag-lable--ux::after            {content: " UX"; }
.tag-lable--video::after         {content: " Video"; }
